.card-deck .card {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.card.show-card-groups-movies {
  position: relative;
}

.card-deck .card.show-card-groups-movies {
  opacity: 1;
  transform: translate(0, 0);
}

.card.show-card-groups-movies .badge-genre {
  position: absolute;
  top: 15px;
  left: 15px;
}

.badge-pink {
  background-color: rgb(212, 10, 77);
  color: white;
}

.card.show-card-groups-movies:hover {
  box-shadow: 3px 2px 2px 2px rgba(44, 43, 41, 0.6);
  margin-top: -5px;
}

.btn-detail:hover {
  background-color: #ffea00;
  color: black;
}

.badge-light {
  color: red;
}
