.navbar-custom {
  margin: auto;
  text-align: center;
}

.navbar-icons {
  font-size: 48px;
  line-height: 1;
  margin: 10px;
  color: white;
}

.navbar-icons:hover,
.navbar-icons.active {
  color: #ffea00;
  transform: rotate(-5deg) scale(1.2);
  transition: 0.5s;
  text-shadow: 3px 3px #c7b800;
}
